.container {
    width: 1170px;
    margin: auto;
    overflow: hidden;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-1 {
    width: 8.33%;
    float: left;
    padding: 0px 15px;
}
.col-2 {
    width: 16.66%;
    float: left;
    padding: 0px 15px;
}
.col-3 {
    width: 25%;
    float: left;
    padding: 0px 15px;
}
.col-4 {
    width: 33.33%;
    float: left;
    padding: 0px 15px;
}
.col-6 {
    width: 50%;
    float: left;
    padding: 0px 15px;
}
.col-8 {
    width: 66.64%;
    float: left;
    padding: 0px 15px;
}
.col-10 {
    width: 83.33%;
    float: left;
    padding: 0px 15px;
}
.col-11{
      width: 91.63%;
    float: left;
    padding: 0px 15px;
}
.col-12 {
    width: 100%;
    padding: 0px 15px;
}
